<filter-textbox (changed)="filter($event)"></filter-textbox>
<!-- the filter function from customers-list.components.ts is called and the event (type in the input) is given as a value ($event) passed to the function -->
<br />
<br />
<table class="table table-hover">
  <thead>
  <tr>
    <th (click)="sort('name')">Name</th>
    <th (click)="sort('city')">City</th>
    <th (click)="sort('orderTotal')">Order Total</th>
  </tr>
  </thead>
  <tr *ngFor="let cust of filteredCustomers">
    <td>
      <a>
        {{ cust.name | titlecase }} <!-- you can find the names of the pipes (in this case: titlecase - makes from the first letter of the name a capital, this is called a 'pipe') in the Angular documentation -->
      </a>
    </td>
    <td>{{ cust.city }}</td>
    <!-- met de pipe currency kan je de default browser currency tonen, in dit geval echter wijzen we een soort vervang functie (het is eigenlijk een propertie die we kunnen binden) toe currencyCode om het dynamisch te maken naargelang wat de gebruiker selecteert en  : symbol duidt aan dat het symbool getoont moet worden 'code' kan ook dan toon je de afkorting van de munt-naam -->
    <td>{{ cust.orderTotal | currency:currencyCode:'symbol' }}</td>
  </tr>
  <tr *ngIf="filteredCustomers && filteredCustomers.length">
    <td colspan="2">&nbsp;</td>
    <td [ngClass]="'ordertotal'">
      {{ customersOrderTotal | currency:currencyCode:'symbol' }}
    </td>
  </tr>
  <tr *ngIf="!filteredCustomers || !filteredCustomers.length">
    <td colspan="4">No customers found</td>
  </tr>
</table>
Number of Customers: {{ filteredCustomers.length }}
<br />
